@model List<Main.Domain.ViewModel.Cart.CartViewModel>


@{
    Layout = "_Layout";
    var count = 0;
    var totalPrice = 0;

}

@if (Model != null)
{
    @foreach (var item in Model)
    {
        count = count + 1;
        totalPrice = totalPrice + item.ProductPrice*item.ProductOrderCount;
        <input hidden value="@item.CartId" id="CartId" />
    }
}



<main class="page-content">
    <div class="container">
        <form asp-controller="Cart" asp-action="Payment">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <!-- start of nav-tabs -->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">



                            <button class="nav-link fs-6 fw-bold active" id="nav-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1"
                                    aria-selected="true">
                                سبد خرید
                                <span class="counter fa-num">@count</span>
                            </button>
                        </div>
                    </nav>
                    <!-- end of nav-tabs -->
                    <!-- start of tab-content -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- start of tab-pane -->
                        <div class="tab-pane py-4 fade show active" id="nav-1" role="tabpanel"
                             aria-labelledby="nav-1-tab">
                            <div class="ui-box bg-white p-2">
                                <div class="ui-box-content">

                                    <!-- start of cart-items -->
                                    <div class="cart-items">
                                        <!-- start of cart-item -->
                                        @if (Model != null)
                                        {

                                            @foreach (var item in Model)
                                            {
                                                <div class="cart-item" id="thisIdIsForDelete-@item.ProductId">
                                                    <div class="cart-item--thumbnail">
                                                        <a href="#">
                                                            <img src="/ImageProducts/@item.ImageName" alt="" height="150px" width="200px">
                                                        </a>
                                                    </div>
                                                    <div class="cart-item--detail">
                                                        <h2 class="cart-item--title mb-2">
                                                            <a href="#">
                                                                @item.ProductTitle
                                                            </a>
                                                        </h2>

                                                        <div class="cart-item--data mb-4">
                                                            <ul>
                                                                <li>
                                                                    <i class="ri-shield-check-fill text-secondary"></i><span>
                                                                        گارانتی
                                                                        اصالت و
                                                                        سلامت فیزیکی
                                                                        کالا
                                                                    </span>
                                                                </li>

                                                                <li>
                                                                    <i class="ri-checkbox-multiple-fill text-primary"></i><span>
                                                                        موجود
                                                                        در
                                                                        انبار
                                                                    </span>
                                                                    <span class="text-secondary mx-2">|</span>
                                                                    <i class="ri-truck-fill text-danger"></i><span>
                                                                        ارسال
                                                                        (نحوه
                                                                        ارسال)
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cart-item--price--actions">
                                                            <div class="cart-item--actions">
                                                                <div class="num-block fa-num me-3">
                                                                    <div class="num-in">
                                                                        <span class="plus" onclick="PlusCounterClick('@item.ProductId')"></span>
                                                                        <input id="Counter-@item.ProductId" name="Counter-@item.ProductId" type="text" class="in-num" value="@item.ProductOrderCount" readonly="">
                                                                        <span class="minus dis" onclick="MinusCounterClick('@item.ProductId')"></span>
                                                                    </div>
                                                                </div>
                                                                <a onclick="DeleteItem(@item.ProductId)" class="btn btn-link btn-sm text-secondary">
                                                                    <i class="ri-delete-bin-5-line me-1"></i><span>حذف</span>
                                                                </a>

                                                            </div>
                                                            <div class="cart-item--price fa-num">

                                                                <div class="cart-item--price-now">
                                                                    <input type="hidden" id="ProductPrice-@item.ProductId" name="ProductPrice-@item.ProductId" value="@item.ProductPrice" />
                                                                    <span id="PriceAfterCalculate-@item.ProductId">@(item.ProductPrice*item.ProductOrderCount)</span>
                                                                    <span></span>
                                                                    <div id="totalPrice"></div>
                                                                    <span class="currency">تومان</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            }
                                        }
                                        <!-- end of cart-item -->

                                    </div>
                                    <!-- end of cart-items -->
                                </div>
                            </div>
                        </div>
                        <!-- end of tab-pane -->

                    </div>
                    <!-- end of tab-content -->
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="ui-sticky ui-sticky-top">
                        <!-- start of checkout-bill -->
                        <div class="checkout-bill ui-box bg-white mb-5">

                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">جمع سبد خرید</div>
                                <div class="checkout-bill-row-value">
                                    <input hidden value="@totalPrice" name="totalPrice" />
                                    <span id="TotalPrice" class="fs-6">@totalPrice</span>
                                    <span class="currency">تومان</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row checkout-bill-note">
                                هزینه‌ی ارسال در ادامه بر اساس آدرس، زمان و نحوه‌ی ارسال انتخابی شما‌ محاسبه و به
                                این مبلغ اضافه خواهد شد
                            </div>
                            <div class="checkout-bill-row checkout-bill-action">
                                <button class="btn btn-block btn-primary">انتقال به درگاه پرداخت</button>
                            </div>

                        </div>
                        <!-- end of checkout-bill -->

                    </div>
                </div>
            </div>
        </form>

    </div>
</main>


@section scripts{

    <script>


        function PlusCounterClick(productId) {

            debugger;
            var productPrice = parseInt(document.getElementById("ProductPrice-" + productId).value);
            var count = parseInt(document.getElementById("Counter-" + productId).value) + 1;
            var productTotalPrice = count * productPrice;
            var productTotalPriceShow = document.getElementById("PriceAfterCalculate-" + productId);
            productTotalPriceShow.innerHTML = productTotalPrice;
            var total = document.getElementById("TotalPrice");
            var totalp = parseInt(total.innerHTML) + productPrice;
            total.innerHTML = totalp;

            console.log(typeof counter);
            $.ajax({
                type: 'POST',
                url: "/Cart/CartItemsSubmit",
                data: {
                    ProductId: Number(productId),
                    CartId: Number($("#CartId")),
                    TotalPrice: Number($("#totalPrice")),
                    ProductOrderCount: Number(count)
                }
            });


        }
        function MinusCounterClick(productId) {


            var productPrice = parseInt(document.getElementById("ProductPrice-" + productId).value);
            var count = parseInt(document.getElementById("Counter-" + productId).value) - 1;
            if (count != 0) {
                var productTotalPrice = count * productPrice;
                var productTotalPriceShow = document.getElementById("PriceAfterCalculate-" + productId);
                productTotalPriceShow.innerHTML = productTotalPrice;
                var total = document.getElementById("TotalPrice");
                var totalp = parseInt(total.innerHTML) - productPrice;
                total.innerHTML = totalp;
                $.ajax({
                    type: 'POST',
                    url: "/Cart/CartItemsSubmit",
                    data: {
                        ProductId: Number(productId),
                        CartId: Number($("#CartId")),
                        TotalPrice: Number($("#totalPrice")),
                        ProductOrderCount: Number(count)
                    }
                });



            }





        }

        function DeleteItem(productId) {
            document.getElementById("thisIdIsForDelete-" + productId).hidden = true;
            $.ajax({
                type: 'POST',
                url: "/Cart/CartItemsSubmit",
                data: {
                    ProductId: Number(productId),
                    CartId: Number($("#CartId")),
                    IsDelete: true
                }
            });
        }




    </script>
}