@using Main.Domain.ViewModel.Filtering;

@model FilterProductViewModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- start of page-content -->
<main class="page-content">
    <div class="container">
        <div class="row mb-3 d-sm-block d-none">
            <div class="col-12">
                <!-- start of banner -->
                <div class="banner-img">
                    <a href="#"><img src="./theme-assets/images/banner/025.gif" alt="banner"></a>
                </div>
                <!-- end of banner -->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 responsive-sidebar">
                <div class="ui-sticky ui-sticky-top">
                    <div class="ui-box sidebar-widgets">
                        <!-- start of widget -->
                        <div class="widget p-0 mb-3">
                            <div class="widget-content widget--free-shipping">
                                <div class="free-shipping--detail">
                                    <div class="title">ارسال رایگان سفارش</div>
                                    <div class="subtitle">سفارش‌های بالای ۳۰۰ هزار تومان</div>
                                </div>
                                <div class="free-shipping--banner">
                                    <img src="./theme-assets/images/theme/free-shipping--banner.png" alt="ارسال رایگان سفارش">
                                </div>
                            </div>
                        </div>
                        <!-- end of widget -->
                        <!-- start of widget -->
                        <div class="widget mb-3">
                            <div class="widget-title">دسته‌بندی نتایج</div>
                            <div class="widget-content widget--category-results">
                                <ul>
                                    <li class="category--arrow-left">
                                        <a href="#">همه کالا ها</a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of widget -->
                        <!-- start of widget -->
                        <!-- start of widget -->
                        <form asp-controller="ShowProduct" asp-action="ShowProducts" method="get" class="pt-2">
                            <div class="widget widget-collapse mb-3">
                                <!-- start of widget -->
                                <div class="widget mb-3">
                                    <div class="widget-title">جستجو در نتایج:</div>
                                    <div class="widget-content widget--search">

                                        <div class="form-element-row">
                                            <input type="text" asp-for="Title" id="searchField" class="form-control" placeholder="نام محصول یا…">
                                            <i class="ri-search-line icon"></i>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <!-- end of widget -->
                            <!-- start of widget -->
                            <div class="widget widget-collapse">
                                <div class="widget-title widget-title--collapse-btn" data-bs-toggle="collapse"
                                     data-bs-target="#collapsePriceFilter" aria-expanded="false"
                                     aria-controls="collapsePriceFilter" role="button">محدوده قیمت</div>
                                <div class="widget-content widget--search fa-num collapse" id="collapsePriceFilter">

                                    <div class="filter-price">
                                        <div class="filter-slider">
                                            <div id="slider-non-linear-step" class="price-slider"></div>
                                        </div>
                                        <ul class="filter-range mb-4">
                                            <li>
                                                <input type="text" data-value="0" value="0" asp-for="MinPrice"
                                                       data-range="0" class="js-slider-range-from"
                                                       id="skip-value-lower">
                                                <span>تومان</span>
                                            </li>
                                            <li class="label fw-bold">تا</li>
                                            <li>
                                                <input type="text" data-value="10000" value="10000"
                                                       asp-for="MaxPrice" data-range="10000"
                                                       class="js-slider-range-to" id="skip-value-upper">
                                                <span>تومان</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">جستجو</button>
                        </form>
                        <!-- end of widget -->
                        <!-- end of widget -->
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- start of breadcrumb -->
                <nav class="mb-2" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>

                    </ol>
                </nav>
                <!-- end of breadcrumb -->
                <button class="btn btn-primary mb-3 d-md-none toggle-responsive-sidebar">
                    فیلتر پیشرفته
                    <i class="ri-equalizer-fill ms-1"></i>
                </button>
                <div class="listing-products">
                    <div class="listing-products-content">
                        <!-- start of nav-tabs -->
                        <ul class="nav nav-pills nav-tabs align-items-center mb-4" id="sort-tab" role="tablist">
                            <li class="d-inline-flex align-items-center nav-item me-3 text-muted">
                                <i class="ri-equalizer-line me-2"></i>
                                مرتب سازی بر اساس:
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="most-visited-tab" data-bs-toggle="tab" data-bs-target="#most-visited" type="button" role="tab" aria-controls="most-visited" aria-selected="true">همه محصولات</button>
                            </li>

                        </ul>
                        <!-- end of nav-tabs -->
                        <!-- start of tab-content -->
                        <div class="tab-content" id="sort-tabContent">
                            <!-- start of tab-pane -->
                            <div class="tab-pane fade show active" id="most-visited" role="tabpanel"
                                 aria-labelledby="most-visited-tab">
                                <div class="ui-box pt-3 pb-0 px-0 mb-4">
                                    <div class="ui-box-content">
                                        <div class="row mx-0">
                                            @foreach (var item in Model.Entities)
                                            {
                                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4">
                                                    <!-- start of product-card -->
                                                    <div class="product-card">
                                                        <div class="product-thumbnail">
                                                            <a asp-controller="ShowProduct" asp-action="ShowProduct" asp-route-id="@item.Id">
                                                                <img src="/ImageProducts/@item.MainImage"
                                                                     alt="product title" height="200" width="300">
                                                            </a>
                                                        </div>
                                                        <div class="product-card-body">
                                                            <h2 class="product-title">
                                                                <a asp-controller="ShowProduct" asp-action="ShowProduct" asp-route-id="@item.Id">
                                                                    @item.Title
                                                                </a>
                                                            </h2>
                                                         
                                                            <div class="product-price fa-num">

                                                                <span class="price-now">
                                                                    @item.Price <span class="currency">تومان</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="product-card-footer">
                                                            <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                                                                <div class="product-actions">
                                                                    <ul>
                                                                        <li>
                                                                            <a asp-controller="Cart" asp-action="ShowCartItems" asp-route-id="@item.Id" data-bs-toggle="tooltip"
                                                                               data-bs-placement="top" title=""
                                                                               data-bs-original-title="افزودن به سبد خرید"
                                                                               aria-label="افزودن به سبد خرید">
                                                                                <i class="ri-shopping-cart-line"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <p1>افزودن به سبد خرید</p1>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end of product-card -->
                                                </div>
                                            }


                                        </div>
                                    </div>



                                </div>
                                <div class="responsive-sidebar-overlay"></div>

                            </div>
                        </div>
                        <!-- end of tab-content -->

                        <nav class="border-top py-4">
                            <!-- start of pagination -->
                            <partial name="_PagingPartialView" model="@Model.CurrentPaging()" />
                            <div id="..."></div>
                            <!-- end of pagination -->
                        </nav>

                    </div>
                </div>
                <div class="responsive-sidebar-overlay"></div>
            </div>
        </div>

    </div>

</main>



